@charset "utf-8";

.navbar-default { background: black;}
.navbar-brand { padding: 0;}

header { position: relative; height: 100vh;}
header video {width: 100%; height: 100%; object-fit: cover;}
header .intro-text {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
header .intro-text { color: #ccc;}
hr.star-light { max-width: 600px; border-color: #ccc;}

#portfolio h2 {color: #2e2e2e; }

#about {background: url(../img/about_bg4.JPEG ) no-repeat center/cover;}
#about ul { list-style: none; padding: 0;}
#about ul span { display: inline-block; text-transform: uppercase; width: 30%;}
#about ul li { padding: 10px 0;}